<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
</head>

<body>
	<div class="container">

		<header>
			<% include ../partials/header %>
		</header>

		<main>

			<% include ../partials/pagenav %>
				<div class="prod_sec">
					<% vare.forEach(function(en_vare) {
                
                      %>
						<div class="prod_slips">
							<img src="<%=en_vare.billede%>" alt="">
							<h3>
								<%=en_vare.producent%>
							</h3>
							<h4>
								<%=en_vare.navn%>
							</h4>
							<P>
								<%=en_vare.tekst%>
							</P>
							<p>
								<%=en_vare.pris%>
							</p>
						</div>
						<%  }); %>
				</div>
				<div class="pagenav_text pagenav_textone">
					<h3>SLIPSEKNUDEN ONLINE</h3>
					<p>VI LANCERE NU VORES HJEMMESIDE MED BILLEDER AF VORES ALLER FINESTE SLIPS</p>
					<p>LÆS MERE...</p>
				</div>
				<div class="pagenav_text">
					<h3>SLIPSEKNUDEN ONLINE</h3>
					<p>VI LANCERE NU VORES HJEMMESIDE MED BILLEDER AF VORES ALLER FINESTE SLIPS</p>
					<p>LÆS MERE...</p>
				</div>
				<div class="textbox_btm">
					<h2>Hvor startede det hele henne - hvem var de første der bar slips?</h2>
					<p>Man skal helt tilbage til omkring år 1660, hvor kong Ludvig den 14. regerede Frankrig, for at finde starten på det hele.
						Kongen gik utrolig meget op i mode og beklædning. Efter at kroatiske soldater havde besejret Det Osmanniske Rige, deltog
						kongen i et optog hvor alle soldaterne skulle gå forbi. Her bemærkede han at alle soldaterne bar et stykke rødt stof
						om halsen. Kongen var så begejstret for det lille stykke klæde, at han valgte at hans kongelige regiment skulle bære
						halsklude i farven rød. Halskluden blev hurtig populær i resten af Europa, og var man en herre med stil, skulle man
						bære det. Efterhånden som tiden gik og moden skiftede, blev kluden mere kraftig. Da man når til 1800 tallet, var der
						en modeskaber fra England, som af pratiske årsager valgte at gøre kluden mindre, så den ikke var så fremtrædende -
						det har udviklet sig til det vi i dag kalder slips. I dag er det ikke længere noget der kun bæres af en bestemt gruppe
						mennesker eller til jakkesæt. I dag bæres det af mange forskellige typer mennesker og slips findes i næsten lige så
						mange udgaver.</p>
				</div>
				<script src="/js/index.js"></script>
		</main>

		<footer>
			<% include ../partials/footer %>
		</footer>
	</div>
</body>

</html>